.nav{
  position: fixed;
  top:0;
  width:100%;
  padding: 20px;
  height:30px;
  z-index:999;
  /* animation */
  transition: all 0.5s;
  transition-timing-function: ease-in;
}
.nav__black{
  background-color: #111;
}
.menu-list{
  display: flex;
  margin-left:50px;
  text-decoration: none;
}
.menu-list li{
  margin-left:20px;
  list-style-type: none;
}
.menu-list li a{
  color:#fff;
  text-decoration: none;
  font-size: 14px;
  font-weight: 700;
}
.menu-list li a:nth-child(2){
  font-weight: 400 !important;
}
.nav__logo{
  position: fixed;
  left:20px;
  width:80px;
  object-fit: contain;
  margin-right: 25px;
}
.nav__avatar{
  position: fixed;
  top: 20px;
  right:20px;
  width:30px;
  object-fit:contain;
}
