.row{
  margin-left: 20px;
  color: #fff;
  z-index: 10;
}
.row__posters{
  display: flex;
  overflow-y:hidden;
  overflow-x:scroll;
  padding: 20px;
}
.row__posters::-webkit-scrollbar{
  display:none;
}
.row__poster{
  /* 이전 */
  /* object-fit: contain;
  width: 178px;
  height:100px; */

  /* width:100%; */

  /* max-height:100px;
  margin-right: 10px;
  transition: transform 450ms; */

  /* 새로 */
  object-fit: contain;
  width: 100%;
  height:100%;
  /* width:100%; */
  /* max-height:100px; */
  margin-right: 10px;
  transition: transform 450ms;
}
.row__posterLarge{
  /* 이전 */
  /* max-height:250px;
  height: 250px;
  width:167px; */

  /* 새로 */
  /* max-height:250px; */
  height: 100%;
  width:100%;
}

.row__poster:hover{
/* transform: scale(1.08); */
cursor:pointer;
opacity:1;
}
.movie__wrapper{
  height: 100%;
  display: block;
}
.movie__wrapper p {
  /* max-width: 178px; */
  width:100%;
  padding: 5px;
  height:auto;
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}